table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
}

tr.odd>td {
    border-top-style: dashed;
}

tr.even>td {
    border-bottom-style: dashed;
}

.lecture_rectangle {
    width: auto;
    position: relative;
    z-index: 0;
    text-align: left;
    display: table;
}

.lecture_rectangle-info {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

.day0 {
    text-align: center;
}