#timetable {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}

#timetable th, #timetable td {
    border: 1px solid #444444;
}

#timetable tr.odd>td {
    border-top-style: dashed;
}

#timetable tr.even>td {
    border-bottom-style: dashed;
}

#timetable .lecture_rectangle {
    width: 100%;
    position: relative;
    z-index: 0;
    text-align: left;
    display: table;
    word-break: break-all;
}

#timetable .lecture_rectangle-info {
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

#timetable .day0 {
    vertical-align: top;
    text-align: center;
}

.times.link.icon {
    opacity: 0.2;
}