{% extends "base/layout.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail/detail.css' %}">
{% endblock %}
{% block content %}
    <div class="ui grid container" id="main">
        <div class="ui twelve wide column">
            <div class="ui right rail">
                <div class="ui sticky">
                    {% if user.is_authenticated %}
                        <div id="timetable_segments" class="ui segments">
                            <div class="ui segment">
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="timetable">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Timetable</div>
                                    <div class="menu">
                                        {% for timetable in timetables %}
                                            <div id="timetable_{{ timetable.id }}"
                                                 data-value="{{ timetable.id }}"
                                                 data-text="{{ timetable.title }}"
                                                 class="item timetable">{{ timetable.title }}</div>
                                        {% empty %}
                                            <div class="disabled item">You don't have any timetable.</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div hidden="hidden" id="timetable_segment" class="ui segment">
                                <!-- Timetable with js -->
                            </div>
                        </div>
                    {% else %}
                        <p>Please log in to see your custom timetables.</p>
                    {% endif %}
                </div>
            </div>
            <div class="ui segment">
                <h1 id="course_title">Course: {{ section.course.title }}</h1>
                <p>Semester: {{ section.course.year_and_semester.year }}&nbsp;
                    {{ section.course.year_and_semester.semester }}</p>
                <p>Class #: {{ section.class_num }}</p>
                <p>
                    Professor:
                    {% for professor in section.professors.all %}
                        {{ professor.name }}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </p>
                <p>Room: {{ section.room.name }}</p>
                <p>Type: {{ section.course.category.title }}</p>
                <p>
                    Components:
                    {% for component in section.components.all %}
                        {{ component.title }}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </p>
                <p>
                    Unit:
                    {% if section.upper_unit == section.lower_unit %}
                        {{ section.upper_unit }}
                    {% else %}
                        {{ section.lower_unit }} ~ {{ section.upper_unit }}
                    {% endif %}
                </p>
            </div>
            <div id="btn_add_class" class="ui right floated button" onclick="$('.ui.modal').modal('show');">Add Class
            </div>
            <div class="ui four wide column"></div>
        </div>
    </div>
    <div class="ui mini modal">
        <i class="close icon"></i>
        <div class="header">
            Add Class
        </div>
        <div class="content">

            <div class="ui form">
                <div id="timetable_input_fields" class="grouped fields">
                    <label>What timetable do you want to add the class to?</label>
                    {% for timetable in timetables %}
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input id="input_{{ timetable.id }}" type="radio" class="radio timetable_input"
                                       name="{{ timetable.title }}" value="{{ timetable.id }}">
                                <label for="input_{{ timetable.id }}">{{ timetable.title }}</label>
                            </div>
                        </div>
                    {% empty %}
                        <p>You do not have your timetable.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui approve button">Yes</div>
            <div class="ui cancel button">No</div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/detail/mini_timetable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/detail/add_class.js' %}"></script>
    <script>
        let miniTimeTable = new MiniTimetable(6, 20, 15);
        $('.ui.sticky').sticky({context: '#main'});
        $('.ui.radio.checkbox').checkbox();
        $('.ui.dropdown').dropdown({
            onChange: function (value, text, $selectedItem) {
                $.ajax({
                    url: "{{ request.scheme }}://{{ request.get_host }}" +
                    "{% url 'lectures:timetable_info_ajax' id=section.id %}",
                    type: "POST",
                    data: {
                        timetable_id: value,
                        section_id: {{ section.id }}
                    },
                    dataType: 'json',
                    success: function (data) {
                        $('#timetable_segment').removeAttr('hidden');
                        miniTimeTable.deleteTimetable();
                        miniTimeTable.newTimetable();
                        miniTimeTable.addSections(data.sections);
                        miniTimeTable.addTemporarySection(data.tempSection);
                    }
                })
            }
        });
        $('.ui.modal').modal({
            onApprove: function () {
                $.ajax({
                    url: "{{ request.scheme }}://{{ request.get_host }}"
                    + "{% url 'lectures:add_class_ajax' id=section.id %}",
                    type: "POST",
                    data: {
                        selected_timetable_id: findClickedButton('radio timetable_input')
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (!data.nothing) window.location.href = data.url;
                    }
                })
            }
        })
    </script>
{% endblock %}