{% extends "base/layout.html" %}
{% load staticfiles %}
{% block content %}
    <div class="ui container">
        <form action="{% url 'lectures:search_course' %}" class="ui form">
            {% csrf_token %}
            <div class="ui segments">
                <div class="ui segment">
                    <div id="input_course_title">
                        {{ detailed_search_form.course_title }}
                    </div>
                </div>
                <div class="ui segment">
                    <div id="input_course_number">
                        {{ detailed_search_form.course_number }}
                    </div>
                </div>
                <div class="ui segment">
                    <div id="input_class_number">
                        {{ detailed_search_form.class_number }}
                    </div>
                </div>
                <div class="ui segment">
                    <div id="input_professor">
                        {{ detailed_search_form.professor }}
                    </div>
                </div>
                <div class="ui segment">
                    <div id="input_year_and_semester">
                        {{ detailed_search_form.year_and_semester }}
                    </div>
                </div>
                <div class="ui segment">
                    <div id="input_time">
                        <div class="ui container grid">
                            <div class="column" style="width: 17%">
                                {{ detailed_search_form.time.as_widget.0 }}
                            </div>
                            <div class="column" style="width: 17%">
                                {{ detailed_search_form.time.as_widget.1 }}
                            </div>
                            <div class="center middle aligned column" style="width: 2%">:</div>
                            <div class="column" style="width: 17%">
                                {{ detailed_search_form.time.as_widget.2 }}
                            </div>
                            <div class="center middle aligned column" style="width: 2%">~</div>
                            <div class="column" style="width: 17%">
                                {{ detailed_search_form.time.as_widget.3 }}
                            </div>
                            <div class="center middle aligned column" style="width: 2%">:</div>
                            <div class="column" style="width: 17%">
                                {{ detailed_search_form.time.as_widget.4 }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui right floated button">Search</button>
            <button class="ui right floated button">Clear Criteria</button>
        </form>
    </div>

{% endblock %}
{% block script %}
{% endblock %}