<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .nobr { white-space: nowrap; }
    </style>
    <title>UMass Clue</title>
</head>
<body>
<div class="top nav">
    <form action="{% url "lectures:search_course" %}" accept-charset="utf-8" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Search">
    </form>
</div>
{% block content %}
{% endblock %}
</body>
</html>