{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'lectures/layout.css' %}" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.css' %}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="{% static 'semantic/semantic.js' %}"></script>
    {% block css %}
    {% endblock %}
    <title>UMass Clue</title>
</head>
<body>
<header class="ui large container">
    <div class="ui grid">
        <div class="row">
            <h1 class="ui header three wide column">UMass Clue</h1>
            <div class="search eight wide column">
                <form class="ui form" action="{% url "lectures:search_course" %}" accept-charset="utf-8"
                      method="get">
                    <div class="three fields">
                        <div class="ten wide field">{{ search_form.search_key }}</div>
                        <div class="four wide field">{{ search_form.search_option }}</div>
                        <div class="two wide field">
                            <button class="ui button" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <nav class="ui three item menu five wide column">
                <ul class="item">temp1</ul>
                <ul class="item">temp2</ul>
                <ul class="item">temp3</ul>
            </nav>
        </div>
    </div>
</header>
<section class="content">
    <nav class="left-nav">
        <ul>temp1</ul>
        <ul>temp2</ul>
        <ul>temp3</ul>
    </nav>
    <main>
        <div class="content-main">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <aside>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, reiciendis.
    </aside>
</section>
<footer>
    footer
</footer>
</body>
</html>