{% extends "lectures/layout.html" %}
{% load static %}
{% load lecture_extras %}

{% block css %}
    <link rel="stylesheet" href="{% static 'lectures/search.css' %}" type="text/css">
{% endblock %}

{% block content %}
    <table id="search_result" class="ui celled table">
        <thead>
        <tr>
            <th>Major</th>
            <th>Career</th>
            <th>Title</th>
            <th>Professor</th>
            <th>Semester</th>
        </tr>
        </thead>
        <tbody>
        {% for section in sections %}
            <tr onclick="window.location='{% url "lectures:detail" section.pk %}'">
                <td>{{ section.course.major.title }}</td>
                <td>{{ section.course.career.title }}</td>
                <td>{{ section.course.title }}</td>
                <td>
                    {% for professor in section.professors.all %}
                        {{ professor.name }}
                        {% if not forloop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ section.course.year_and_semester.year }}&nbsp;
                    {{ section.course.year_and_semester.semester }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        {% if is_paginated %}
            <tfoot>
            <tr>
                <th colspan="4">
                    <div class="ui right floated pagination menu">
                        {% if page_obj.has_previous %}
                            <a class="item" href="{% url_replace page=page_obj.previous_page_number %}">previous</a>
                        {% endif %}
                        <span class="item page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                        {% if page_obj.has_next %}
                            <a class="item" href="{% url_replace page=page_obj.next_page_number %}">next</a>
                        {% endif %}
                    </div>
                </th>
            </tr>
            </tfoot>
        {% endif %}

    </table>
{% endblock %}