{% extends "lectures/layout.html" %}
{% load lecture_extras %}
{% block content %}
    <table>
        <thead>
        <tr>
            <td>Major</td>
            <td>Career</td>
            <td>Title</td>
            <td>Semester</td>
        </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.major.title }}</td>
                <td>{{ course.career.title }}</td>
                <td>{{ course.title }}</td>
                <td>
                    {{ course.year_and_semester.year }}&nbsp;
                    {{ course.year_and_semester.semester }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url_replace page=page_obj.previous_page_number %}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url_replace page=page_obj.next_page_number %}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}